<!-- show any messages that come back with authentication -->
	<div class="container">
		<div class="col-md-5">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger text-center" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success text-center" role="alert">
                <%= success %>
            </div>
        <% } %>
        <% if(info && info.length > 0){ %>
            <div class="alert alert-info text-center" role="alert">
                <%= info %>
            </div>
        <% } %>
        </div>
    </div>