<% include ../partials/header %>

<div class="row">
    
    <div class="col-md-9">
        <div class=container> 
            <br>
            <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <h1 class="text-center">Welcome to Sail HR</h1>
                                <hr>
                                <div class="row clearfix">
                                    <div class="text-center">
                                        <p>
                                            Welcome to Sail HR! We are glad you have joined us with our HR platform to enable your employees and put more 
                                            power for them to change and do what they need to do.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>